<div class="session">
  <% if signed_in? %>
    <%= button_to 'Sign out', sign_out_path, method: :delete, class: 'pure-button pure-button-cancel' %>
  <% end %>
</div>


<div id="flash">
  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>
</div>