<div class="session">
  <%= link_to 'Home', root_path, class: 'pure-button' %>
  <%= link_to 'Sign out', sign_out_path, class: 'pure-button pure-button-cancel' %>
</div>

<% if flash.present? %>
  <div id="flash">
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>
  </div>
<% end %>