<h1>Editing Transaction</h1>

<%= render 'form', account: @account, transaction: @transaction %>

<%= link_to 'Delete', [@account, @transaction], method: :delete, data: { confirm: 'Are you sure?'}, class: 'pure-button'  %>