<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link
      rel="stylesheet"
      href="https://unpkg.com/purecss@0.6.1/build/pure-min.css"
      integrity="sha384-CCTZv2q9I9m3UOxRLaJneXrrqKwUNOzZ6NGEUMwHtShDJ+nCoiXJCAgi05KfkLGY"
      crossorigin="anonymous"
    >
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="pure-g">
      <div class="pure-u-1 l-box">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
